langchain-docling

fastapi
uvicorn
langchain
langchain-community
langchain-core
langchainhub
langchain-groq
sentence-transformers
rank_bm25
chromadb
redis
python-multipart
pydantic
sentence-transformers
openai
wikipedia
streamlit
requests
uvicorn